<div class="h-full md:h-screen bg-[#f5f5f5] text-textSecondary font-bold">
  <div class="h-full">
    <nav class="bg-white">
      <div class="container mx-auto py-6">
        <div class="text-textPrimary flex justify-between align-middle">
          <div class="px-2 text-lg">
            <p>Shivani</p>
          </div>
        </div>
      </div>
    </nav>
    <section class="w-full">
      <div class="p-5">
        <div class="mb-8">
          <div class="w-full">
            <h2 class="text-center text-red-500 text-xl mb-5">
              Create imaginative and visually stunning images through AI
            </h2>
            <form [formGroup]="mainForm" class="rounded">
              <div class="mb-4">
                <label class="block text-black mb-3 text-lg" for="username">
                  Type your imagination
                </label>
                <div class="flex">
                  <input
                    class="shadow appearance-none border rounded md:w-[50%] lg:w-[50%] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="username"
                    type="text"
                    name="prompt"
                    formControlName="prompt"
                    placeholder="Your imagination"
                  />

                  <button
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold rounded w-10"
                    (click)="handleSurprise('xyx')"
                  >
                    <i class="fa-solid fa-refresh"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div
          class="p-3 w-full max-w-xs md:w-72 md:h-72 rounded border-2 relative"
        >
          <img
            [src]="imageURL"
            class="w-full h-full object-contain block"
            alt="IMG"
            download
          />
          <div
            class="absolute inset-0 z-10 flex justify-center items-center bg-[rgba (0,0,0,0.5)] rounded-lg"
            *ngIf="loading"
          >
            <div class="lds-dual-ring"></div>
          </div>
        </div>
        <div class="flex items-center mt-5">
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-5"
            (click)="generateImage(mainForm.value.prompt)"
            *ngIf="mainForm.value.prompt"
          >
            Generate
          </button>
          <button
            #downloadBTN
            *ngIf="activeButton"
            class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
            (click)="download(downloadBTN)"
          >
            {{ buttonname }}
          </button>
        </div>
      </div>
    </section>
  </div>
</div>
